.jumbotron {
    background: url('debpaper.jpg');
    background-size: 100%;
	background-position: center;

}
.navbar-dark .navbar-nav .nav-link {
    color: #DDDDDD;
    font-size: 1.07em;
}
/*.navbar-dark .navbar-nav {
	background: #111111;
	opacity: 0.5;
}*/
.hide {
	display: none;
}